.question-wrapper
  %h2= "We can't wait to help you #{@user.name}, let's build your dream together."
  %p
    In the meantime, let's connect on
    = link_to 'linkedIn', 'https://www.linkedin.com/pub/troy-haines/18/b75/3a3'
    &
    = link_to 'Facebook.', 'https://www.facebook.com/troy.haines'
