- case
- when @user.q5 == nil
  %p You didn't feel like answering this question...
- when @user.q5 == 1
  %p
    Pickled McSweeney's PBR&B Banksy, ugh taxidermy Portland twee retro
    Brooklyn salvia hoodie VHS fanny pack wayfarers. Try-hard butcher
    lumbersexual, tilde gentrify XOXO Helvetica Bushwick sartorial cornhole
    Pinterest. VHS swag cray ugh umami. PBR&B hella Neutra chia distillery twee
    leggings hoodie, chillwave messenger bag seitan cronut raw denim umami.

    Cornhole seitan vegan leggings, scenester yr meggings locavore Echo Park
    Bushwick. Put a bird on it gentrify blog, you probably haven't heard of
    them pug Odd Future direct trade forage occupy seitan normcore. Letterpress
    butcher dreamcatcher cliche try-hard semiotics.
- when @user.q5 == 2
  %p
    You probably haven't heard of them street art migas Tumblr. Swag retro
    Brooklyn artisan 3 wolf moon hella. Swag distillery irony PBR&B. Master
    cleanse next level tofu blog squid, iPhone shabby chic street art jean
    shorts Wes Anderson pork belly YOLO.

    Twee selfies cliche bespoke. Crucifix mustache selfies typewriter messenger
    bag, 3 wolf moon authentic kitsch distillery squid. Truffaut church-key
    mlkshk, before they sold out chia put a bird on it Brooklyn flannel
    McSweeney's typewriter roof party synth freegan.
- when @user.q5 == 3
  %p
    PBR&B biodiesel occupy paleo, gastropub Vice Brooklyn hashtag PBR art party
    put a bird on it plaid Austin food truck. Locavore craft beer farm-to-table
    Blue Bottle. Butcher before they sold out viral four dollar toast,
    biodiesel McSweeney's Bushwick beard synth cold-pressed cardigan Tumblr
    Blue Bottle readymade. Letterpress Bushwick organic Carles iPhone. Vegan
    direct trade wayfarers migas, cornhole sartorial bespoke Bushwick four
    dollar toast squid gentrify locavore asymmetrical Carles. Vegan
    Williamsburg hashtag McSweeney's gluten-free normcore.
- when @user.q5 == 4
  %p
    PBR YOLO Truffaut Austin, messenger bag Pitchfork keffiyeh freegan normcore
    pop-up post-ironic. YOLO readymade squid, actually McSweeney's small batch
    fashion axe organic authentic Echo Park cold-pressed selvage swag. Truffaut
    butcher flannel, drinking vinegar literally crucifix stumptown chia
    Shoreditch pork belly. Cornhole iPhone mustache, fanny pack Pitchfork
    chambray cray pop-up disrupt tofu quinoa lumbersexual Banksy farm-to-table
    YOLO. Forage cardigan church-key, kale chips aesthetic dreamcatcher yr
    fanny pack letterpress kogi migas. Actually fixie dreamcatcher, Brooklyn
    farm-to-table migas pork belly selfies iPhone kale chips leggings cardigan.
